@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(536deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(583deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(370deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(419deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(320deg, rgb(9, 201, 186),rgb(18, 131, 221));
    font-family: 'Nunito', sans-serif;
  
}

/*****scroll bar (start)******/
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #3fb0fb;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f5f5f5;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: antiquewhite;
  }
/*****scroll bar (end)******/

/*****nav section (start)******/
#burger{
    position: absolute;
    opacity: 0%;
    cursor: pointer;
}
#close{
    position: absolute;
    opacity: 0%;
    cursor: pointer;
}
.burger_menu{
    position: absolute;
    opacity: 0%;
}
nav{
    
    transition: all 0.3s ease;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav img{
    width: 65px;
    height: 65px;
    margin: 0vh 30vw 0vh 14vw ;
}
.nav-item{
    font-size: 1.3em;
    margin: 0vh 2%;
}
/*****nav section (end)******/

/*****header section (start)******/
header{
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: rgb(0, 38, 98);
    font-family: 'Nunito', sans-serif;
    position: relative;   
    background: url('./img/NSS-team2.png') no-repeat center center/cover;
    height: 100vh;
    
    filter: blur(0.5px);
    opacity: 70%;
   
}
/****header img{
    height: 100vh;
    width: 100vw;
    filter: blur(0.5px);
    opacity: 70%;
}*/
.header-content{
    bottom: 69vh;
    left: 21vw;
    position: absolute;
}

#head1 span:hover{
    cursor:pointer;
    transition: all 0.7s ease;
    color:  #ff3333;
}

.header-content h1{
    font-size: 48px;
    line-height: 100px;
    color: white;
    font-weight:bold;
}

/*****header section (end)******/

/*****faculty  Starts****/
.faculty{
	display:flex;
	justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
    position: relative ;
}
.faculty-header{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    left: 100px ;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.container .card{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border:  10px solid rgba(0, 0, 0, 1);
}

.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container.card .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    left-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span{
    font-size: 15px;
    font-weight: 400;
    text-transform: initial;
    text-align: center;
    text-decoration: none;
}



/******Faculty ends****/

/********Council Starts*******/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}


.containers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.containers .card{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

.containers .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.containers .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.containers .card .content .imgBx{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border:  10px solid rgba(0, 0, 0, 0.5);
}

.containers .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containers .card .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    left-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.containers .card .content .contentBx h3 span{
    font-size: 14px;
    font-weight: 400;
    text-transform: initial;
    text-align: center;
    text-decoration: none;
}

.containers .card .sci{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;

}

.containers .card .sci li{
    list-style: none;
    margin: 0 10px 0 0;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.containers .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.containers .card .sci li a{
    color: #fff;
    font-size: 24px;

}

.containers .card .sci li:hover a{
    color:#ff3333;
}

/************Council ENds*********/

/***********Button**************/
.wrap {
  text-align: center;
}

.wrap .button{

display: inline-block;
margin: 20px auto;
max-width: 180px;
text-decoration: none;
border-radius: 4px;
padding: 20px 30px;
text-align: center;
align-items: center;
color: rgba(30, 22, 54, 0.6);
box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.wrap .button:hover {
  color: rgb(0, 167, 209);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

/************Buttton Ends*************/






/*****responsiveness for laptops (start)******/
@media only screen and (min-width: 70px) and (max-width: 1400px)  {
    nav img{
        margin: 0vh 18vw 0vh 10vw ;
    }
    .about{
        display: block;
    }
    .img{
        width: 30vw;
        margin: auto;
        position: static;
    }

}
/*****responsiveness for laptops (end)******/

/*****responsiveness for tablets (start)******/
@media only screen and (min-width: 70px) and (max-width: 1150px){
    body{
        overflow-x: hidden;
        width: 100vw;
    }
    nav img{
    margin: 0vh 10vw 0vh 4vw ;   
    }
    .nav-item{
        font-size: 1.1em;
    }

}
@media only screen and (min-width: 70px) and (max-width:770px){
    nav img{
        margin: 0vh 0vw 0vh 4vw ;   
        }
}
/*****responsiveness for tablets (end)******/



/* media query idhar se */

@media only screen and (max-width:570px) {
    body{
        overflow-x: hidden;
        width: 100vw;
    }
    .burger_menu{
        position: fixed;
        opacity: 100%;
        background-color: rgb(29, 28, 28);
    }
    nav{
        text-align: center;
        position: sticky;
        width: 100vw;
        height: 75vh;
    }
    nav img{
        margin: 0px;
    }
  .header-content{
    top: 35vh;
    left: 10vw;
  }

}
.title h1{
    text-align: center;
    padding-top: 120px;
}

  }
  

