@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(536deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(583deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(370deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(419deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(320deg, rgb(9, 201, 186),rgb(18, 131, 221));
    font-family: 'Nunito', sans-serif;
  
}
/*****scroll bar (start)******/
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #3fb0fb;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f5f5f5;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: antiquewhite;
  }
/*****scroll bar (end)******/

/*****nav section (start)******/
#burger{
    position: absolute;
    opacity: 0%;
    cursor: pointer;
}
#close{
    position: absolute;
    opacity: 0%;
    cursor: pointer;
}
.burger_menu{
    position: absolute;
    opacity: 0%;
}
nav{
    
    transition: all 0.3s ease;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav img{
    width: 65px;
    height: 65px;
    margin: 0vh 30vw 0vh 14vw ;
}
.nav-item{
    font-size: 1.3em;
    margin: 0vh 2%;
}
/*****nav section (end)******/

/*****header section (start)******/
header{
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: rgb(0, 38, 98);
    font-family: 'Nunito', sans-serif;
}
header img{
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    opacity: 70%;
}
.header-content{
    bottom: 43vh;
    left: 21vw;
    position: absolute;
}
.header-content h1:first-child{
    font-size: 48px;
    line-height: 20px;
    color: white;
    font-weight:lighter;
}
#head2 span:hover{
    cursor:pointer;
    transition: all 0.5s ease;
    color: cadetblue;
}
#head3{
    opacity: 0;
}
.header-content h1{
    font-size: 48px;
    line-height: 100px;
    color: white;
    font-weight:lighter;
}
.header-content h3{
    font-size: 27px;
    color: white;
    font-weight: lighter;
}
/*****header section (end)******/

/*****about section (start)******/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 55, 141);
    width: 65vw;
    height: auto;
    margin: 25vh auto 5vh auto;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.img{
    width: 17vw;
    position: relative;
    right: 13vw;
}
.about img{
    margin-top: 4vh;
    width: 30vw;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.about-content{
    height: auto;
    background-color: transparent;
    width: auto;
    text-align: center;
}
.about-content h1{
    font-size: 2em;
    margin: 3vw 0vw;
}
.about-content p{
    font-size: 1.5em;
    margin: 0vw 2vw 5vh 2vw;
    text-align: justify;
}
.about-span{
    display: flex;
    justify-content: space-around;
}
.about-span span{
    margin-bottom: 2vh;
}
/*****about section (end)******/


/*****events section (start)******/

.event-title{
    margin: 10vh 0 0 5vh;
    color: white;
    font-size: 45px;
    text-align: center;
}
.events{
    text-align: center;
    margin:8vw;
    display: grid;
    grid-template-columns: 19vw 19vw 19vw 19vw;
    grid-gap: 7vh 2.7vw;
}
.event img{
    border-radius: 20px;
}
.event{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    width: 19vw;
    height: auto;
}
.event-1{
    background-color: #FFFFFF;
    width: 40.5vw;
    grid-column: 1 / span 2;
    
}
.event-1 img{
    margin: 3vh 0 3vh 0;

}
.event-1 p{
    margin: 0vh 4.4vh;
    color: #1454A7;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;

}
 .event-2{
    background-color: #E9E7E9;
}
.event-2 img{
    margin: 3vh 0 0 0;
}
.event-2 p{
    margin: 3vh 2vh;
    font-size: 20px;
    text-align: justify;

    font-weight: bold;
}
.event-3{
    background-color: #EFEFF1;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.event-3 img{
    margin: 4vh 0 0vh 0;
}
.event-3 p{
    color: #E51516;
    font-weight: bold;
    font-size: 20px;
    margin: 3vh;
    text-align: justify;

}
.event-4{
    background-color: #FFF9F9;
}
.event-4 img{
    margin: 1vh 0 1vh 0;
    width: 120px;
}
.event-4 p{
    font-weight: bold;
    font-size: 20px;
    margin: 2vh;
    text-align: justify;

}
.event-5{
    background-color: #1B4C50;
    grid-column: 2 / span 2;
    width: 40.5vw;
}
.event-5 img{
    margin: 2vh 0 0 0;
}
.event-5 p{
    line-height: 32px;
    margin: 4vh 4vh;
    font-weight: bold;
    font-size: 20px;
    color: #D9AD41;
    text-align: justify;

}
/*****events section (end)******/


/*****footer section (start)******/
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 33vh;
    color: white;
    background-color: rgb(0, 49, 112);

}
.footer-left h2{
    margin: 3vh 0vw;
}
.footer-left p{
    margin: 0vh 0.1vw;
}
.footer-mid{
    height: 19vh;
    text-align: center;
}
.socials{
    text-align: center;
    margin: 5vh 0vw;
}
.socials a{
    text-decoration: none;
    color: white;
    margin: 0vh 20px;
    transition: all 0.3s ease;
}

.socials a:hover{
    color: rgb(0, 160, 209);
}
.copyright span{
    color: rgb(0, 167, 209);
}
.footer-right button{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid black;
    width: 18vw;
    height: 5vh;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.footer-right button:hover{
    transform: translateY(-4px);
    color: white;
    background-color: rgb(0, 55, 158);
}
/*****footer section (end)******/



/*****responsiveness for laptops (start)******/
@media only screen and (min-width: 70px) and (max-width: 1400px)  {
    nav img{
        margin: 0vh 18vw 0vh 10vw ;
    }
    .about{
        display: block;
    }
    .img{
        width: 30vw;
        margin: auto;
        position: static;
    }
    .event-1 p{
        margin-bottom: 2vh;
    }
    .event-2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 5;
        width: 40vw;
    }
    
    .event-2 img{
        margin: 4vh 0vw;
    }
   
    .event-3{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        width: 83vw;
    }
    .event-4{
        width: 40vw;
    }
    .event-4 img{
        margin: 4vh 0vw;
    }
    .event-4 h2{
        margin: 0vh 0vw 5vh;
    }
    .event-4 p{
        line-height: 35px;
    }
    .event-5{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .event-5 img{
        margin: 4vh 0vw 0vh 0vw;
    }
}
/*****responsiveness for laptops (end)******/

/*****responsiveness for tablets (start)******/
@media only screen and (min-width: 70px) and (max-width: 1150px){
    body{
        overflow-x: hidden;
        width: 100vw;
    }
    nav img{
    margin: 0vh 10vw 0vh 4vw ;   
    }
    .nav-item{
        font-size: 1.1em;
    }
    .event-5 img{
        width:30vh;
    }
    .footer-right button{
        height: 7vh;
    }
}
@media only screen and (min-width: 70px) and (max-width:867px){
    nav img{
        margin: 0vh 0vw 0vh 4vw ;   
        }
}
@media only screen and (max-width: 790px){
    .nav-item{
        font-size: 0.9em;
        padding: 0vh 0vw;
        margin: 0vh 0.2vw; 
    }
}
/*****responsiveness for tablets (end)******/



/* media query idhar se */

@media only screen and (max-width:570px) {
    body{
        overflow-x: hidden;
        width: 100vw;
    }
    .burger_menu{
        position: fixed;
        opacity: 100%;
        background-color: rgb(29, 28, 28);
    }
    nav{
        text-align: center;
        position: sticky;
        width: 100vw;
        height: 75vh;
    }
    nav img{
        margin: 0px;
    }
  .header-content{
    top: 35vh;
    left: 10vw;
  }
 .about{
     display: flex;
     flex-direction: column;
     width: 90vw;
     font-size: 0.8em;
     overflow: hidden;
 }
 .about-content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
 }
 .about-content p{
     margin: 5vh 3vw 5vh;
 }
 .img img,.img{
      display: flex;
 }
 .about-span span,.about-span{
     display: flex;
     gap: 55px;
    text-align: center;
 }
 .event-title{
    margin: 10vh 0vw 5vh 0vw;
    color: white;
    font-size: 45px;
    text-align: center;
}
 .events{
    font-size: 1em;
    text-align: center;
    margin: 13vw;
    display: grid;
    grid-template-columns: 400px;
    grid-gap: 40px 40px;
    height: auto;
    
}
.event-1{
    width: 72vw;
    height: auto;
}
.event-1 p{
    font-size: 0.9em;
}
.event-2 p{
    font-size: 0.9em;
}
.event-3 p{
    font-size: 0.9em;
}
.event-4 p{
    font-size: 0.9em;
}
.event-5 p{
    font-size: 0.9em;
}
.event-1 img{
    margin: 2vh auto;
}
.event-2{
    
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 72vw;
}
.event-2 img{
    margin: auto;
}
.event-3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    width: 72vw;
    height: auto;
}
.event-3 img{
    margin: 3vh auto;
    width: 70vw;
}
.event-4{
    grid-row-start: 4;
    grid-row-end: 5;
    width: 72vw;
}
.event-4 img{
    margin: 2vh auto;
}
.event-4 h2{
    width: 100%;
}
.event-5{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    width:72vw;
}
.event-5 img{
    width: 68vw;
}
.title h1{
    text-align: center;
    padding-top: 120px;
}
footer{
    position: relative;
    text-align: center;
    display: block;
    height: 53vh;
}
.footer-right button{
    margin: 5vh 0vw 0vh;
    width: 70vw;
}
.copyright{
    margin-top: 17vh;
}
.btn-right{
    position: absolute;
    bottom: 18vh;
    left: 15vw;
}
  }
